.event {
    display: flex;
    justify-content: center;
    padding: 20px 0;

    .event__details {
        display: flex;
        align-items: center;
        //text-align: center;

        &__image {
            max-width: 300px;
            margin-right: 20px; // Espaço entre a imagem e o texto
        }

        &__description {
            font-size: 16px;
            padding: 0 20px; // Espaçamento interno do texto
        }
    }
}

