@use 'hero';
@use './components/infos_bar';
@use './components/buttons';
@use './components/event';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
}

body {
    background-color: #FBFBF6;
}
