@use 'hero';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #FBFBF6;
}

.hero {
    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024) {
        max-width: 90%;
    }
}



